/*
 * jQuery Blueberry Slider v0.4 BETA
 * http://marktyrrell.com/labs/blueberry/
 *
 * Copyright (C) 2011, Mark Tyrrell <me@marktyrrell.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

.blueberry { margin: 0 auto; }

.blueberry .slides {
	display: block;
	position: relative;
	overflow: hidden;
}

.blueberry .slides li {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

.blueberry .slides li img {
	display: block;
	width: 100%;
	max-width: none;
}

.blueberry .slides li.active { display: block; position: relative; }

.blueberry .crop li img { width: auto; }

.blueberry .pager {
	padding: 0 37px 0 19px;
	position: absolute;
	text-align: center;
	bottom: 13px;
	right: 0px;
	height: 39px;
	line-height: 36px;
	background: #fff;
	text-align: center;
	-webkit-border-radius: 25px 0 0 25px;
   -moz-border-radius: 25px 0 0 25px;
	border-radius: 25px 0 0 25px;
}

.blueberry .pager li { display: inline-block; }

.blueberry .pager li a {
	display: block;
	height: 4px;
	width: 4px;
}

.blueberry .pager li a {
	width: 28px;
	height: 28px;	
	margin-left: 2px;
	line-height: 28px;
	color: #363636;
	font-size: 0.95em;
	font-weight: bold;
	background: url("../img/navi.png") no-repeat;
}

.blueberry .pager li a:hover, .blueberry .pager li.active a {
	background: #9d1023;
	color: #fff;
	-webkit-border-radius: 25px;
   -moz-border-radius: 25px;
	border-radius: 25px;
}

.blueberry .pager li a span {

}

.blueberry .pager li.active a span { }
