

/*
	Slideshow
*/

#products {
	float: left;
	position: relative;
	margin-left: 12px;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

#products .slides_container {
	width: 229px;
	overflow:hidden;
	float:left;
	position:relative;
	border:1px solid #dfdfdf;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container a {
	width:229px;
	height:169px;
	display:block;
}

/*
	Next/prev buttons
*/

#products .next,#products .prev {
	position:absolute;
	top: 75px;
	left:0;
	width:21px;
	height:0;
	padding-top:21px;
	overflow:hidden;
	display:block;
	z-index:101;
}

#products .prev {
	left: 5px;
	background:url("../img/arrow-prev.png");
}

#products .next {
	left:205px;
	background:url("../img/arrow-next.png");
}

/*
	Pagination
*/

#products .pagination {
	width:229px;
	padding: 0;
	float:left;
}

#products .pagination li {
	float:left;
	margin: 6px 3px 0 0;
	list-style:none;
}

#products .pagination li a {
	display:block;
	width:73px;
	height:54px;
	float:left;
	/*border:1px solid transparent;*/
}

#products .pagination li.current a {
	/*border:1px solid #7f7f7f;*/
	margin:0;
}
