body {
    text-align: center;
    font-family:  Arial;
    color: #000;
    background: url("../img/body-bg.png") top center repeat-x;
    background-color: #f3f3f3;
}


img {border: 0px;}

a {text-decoration: none;}



/* MAIN */
.main {
    width: 930px;
    margin: 0px auto;
    padding: 0 15px;
}

/* HEADER */
.header {
	float: left;
    width: 930px;
    margin-bottom: 30px;
}

.logo {
    float: left;
    width: 431px;
    height: 53px;
    margin-top: 30px;
}

/* SEARCH */

.search {
    float: left;
    width: 210px;
    height: 42px;
    margin-top: 34px;
    margin-left: 60px;
}

.search label {
	float: left;
	padding-bottom: 7px;
	font-size: 0.75em;
	cursor: pointer;
}

.search .search-text {
    float: left;
    width: 145px;
    height: 20px;
    padding-left: 2px;
    font-size: 0.8em;
}

.search .submit {
    float: left;
    height: 25px;
	margin-top: -1px;
	margin-left: 5px;
    padding: 1px 5px;
    cursor: pointer;
    font-size: 0.7em;
    font-family: Verdana;
}

.lang {
	float: right;
	width: 126px;
	margin-right: 6px;
}

.lang a {
	float: left;
	height: 36px;
	width: 32px;
	font-size: 0.625em;
	color: #912131;
	line-height: 64px;
	margin-left: 10px;
	margin-top: 43px;
}

.lang a:hover, .lang a.active {color: #b7b7b7;}

a.lang-aze {
	background: url("../img/aze.png") no-repeat top center;
}

a.lang-eng {
	background: url("../img/eng.png") no-repeat top center;
}

a.lang-rus {
	background: url("../img/rus.png") no-repeat top center;
}

/* TOP-MIDDLE */
.top-middle {
	float: left;
	background: url("../img/top-middle-bg.png") repeat-x top center;
	height: 324px;
	width: 930px;	
	margin-bottom: 19px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}


/* TOP-MENU */
.top-menu {
    float: left;
    height: 33px;
    margin-top: 9px;
    margin-bottom: 8px;
    text-align: left;
}

.top-menu li {
    float: left;
    padding: 0 7px;
	background: url("../img/li-bg.png") no-repeat center right;
}

li.last-li {background: none;}

.top-menu li a {
    display: block;
    height: 33px;
    padding: 0 12px;
    line-height: 33px;
    color: #fff;
    font-size: 0.9em;
    text-transform: uppercase;
    -webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.top-menu li a:hover, .top-menu li.sub-li:hover a {
    background: #000;
}

.top-menu .sub-menu {
	width: 182px;
	display: none;
	padding-top: 13px;
	position: absolute;
	left: 0px;
	z-index: 999;
	background: #8e202f;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}

.sub-li {
	position: relative;
}


.sub-li:hover .sub-menu {
	display: block;
}

.top-menu ul li {
	width: 100%;
	height: 25px;
	padding: 0px;
	background: url("../img/top-sub-menu-li.png") repeat-x top;
}

.top-menu .sub-menu-li-last {
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}

.top-menu ul li:hover {
	background: url("../img/top-sub-menu-hover.png") repeat-x;
}

.top-menu ul li a, .top-menu ul li a:hover {
	display: block;
	margin-left: 16px;
	background: url("../img/top-sub-menu-icon.png") no-repeat left 9px !important;
	text-transform: none;
	font-size: 0.75em;
	line-height: 24px;
}

/* TOP-MENU END */



.carousel {
	float: left;
	width: 900px;
	height: 264px;
	margin-left: 14px;
	position: relative;
}

.carousel img {
	width: 910px;
	height: 264px;
}

/* MIDDLE */
.middle {
    float: left;
    width: 930px;
    text-align: left;
}

.middle-left {
    float: left;
    width: 216px;
}
.middle-left h1.title{
	width: 205px;
}

h1.title {
	float: left;
	height: 27px;
	background: url("../img/title-bg.png") repeat-x;
	padding: 3px 0 3px 11px;
	line-height: 25px;
	color: #f3f3f3;
	font-size: 0.875em;
	font-family: Tahoma;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.middle .last-news {
	float: left;
	width: 210px;
	margin-top: 20px;
	padding-left: 7px;
}

.last-news span, .last-news a, .last-news p {
	float: left;
	width: 200px;
	color: #5f5f5f;
}

.middle .last-news span {
	font-size: 0.7em;
	font-weight: bold;
}

.middle .last-news a {
	color: #1373aa;
	font-size: 0.75em;
	padding: 5px 0;
}

.middle .last-news a:hover {text-decoration: underline;}

.middle .last-news p {
	font-size: 0.75em;
}

.content {
    float: left;
    width: 416px;
    padding: 0px;
    margin-left: 20px;
    margin-right: 25px;
}

.inside-content {
	width: 632px;
	float: left;
    padding: 0px;
    margin-right: 25px;
}

.inside-content-block {
	width: 598px;
	padding: 0 17px 15px;
	float: left;
	margin-bottom: 10px;
	background-color: #fff;
    -webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.content-block {
	width: 382px;
	padding: 0 17px 15px;
	float: left;
	margin-bottom: 10px;
	background-color: #fff;
    -webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}


.content-block h2, .inside-content-block h2 {
	padding: 15px 0 10px;
	border-bottom: 1px solid #f3f3f3;
}

.content-block h2 a, .inside-content-block h2 a {
	color: #912231;
	font-size: 1.25em;
}

.content-block h2 a:hover, .inside-content-block h2 a:hover {
	color: #ab2135;
}

.content-block p, .inside-content-block p  {
	color: #5f5f5f;
	font-size: 0.75em;
	padding: 15px 0 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #f3f3f3;
}

.content-block p img, .inside-content-block p img {
	padding-bottom: 1px;
	margin: 10px 0 10px;	
	-webkit-box-shadow: 0 8px 6px -6px #e3e3e3;
	-moz-box-shadow: 0 8px 6px -6px #e3e3e3;
	box-shadow: 0 8px 6px -6px #e3e3e3;
}

a.more {
	padding-left: 16px;
	height: 12px;
	font-size: 0.7em;
	color: #912231;
	background: url("../img/more-icon.png") no-repeat left center;
}

a.more:hover {text-decoration: underline;}

.middle-right {
    float: left;
    width: 253px;
}

.director {
	float: left;
	width: 253px;
	height: 85px;
	overflow: hidden;
	background: url("../img/director-bg.png") repeat-x;
}

.director h3 {
	float: left;
	width: 140px;
	padding-left: 8px;
	margin: 15px 0 8px 17px;
	border-left: 5px solid #8f2131;
}

.director h3 a {
	font-size: 0.95em;
	color: #8f2131;
	text-transform: uppercase;
}

.director span {
	float: left;
	font-size: 0.7em;
	color: #2a2a2a;
	margin-left: 17px;
}

.director img {
	margin-left: 5px;
}

.photo-gallery {
	float: left;
	height: 438px;
	width: 253px;
	margin: 15px 0 22px;
	background: url("../img/photo-galery-bg.png") no-repeat center;
	-moz-box-shadow: 0 0 3px 2px #e0e0e0;
	-webkit-box-shadow: 0 0 3px 2px #e0e0e0;
	box-shadow: 0 0 3px 2px #e0e0e0;
}

.photo-gallery h4 {
	padding: 10px;
	font-size: 0.875em;
	font-weight: bold;
	color: #912231;
}

.photo-gallery .more {
	margin: 20px 15px 5px 0; 
	float: right;
}

.vote {
	float: left;
	width: 246px;
}

.vote .title {
	width: 235px;
}

.vote-content {
	float: left;
	margin: 11px 0 18px;
	padding: 7px 7px 15px 7px;
	background: #fff;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.vote-block {
	float: left;
	width: 213px;
	cursor: pointer;
	padding: 5px 10px 5px 13px;
}

.vote-block:hover {
	background-color: #f6f2f2;
}

.vote-block input[type="radio"] {
	float: left; 
	width: 13px;
	margin-right: 7px;
	cursor: pointer;
}

.vote-block span {
	float: left;
	width: 193px;
	color: #5f5f5f;
	font-size: 0.75em;
}

.vote-buttons {
	float: left;
	width: 180px;
	margin-left: 20px;
}

.voting, .vote-result {
	float: left;
	margin-left: 5px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 0px;
	padding: 0px 9px;
	font-size: 0.7em;
	color: #fff;
	height: 24px;
	line-height: 24px;
	cursor: pointer;
	
}

.voting {
	background: url("../img/vote-bg.png") repeat-x;
}

.vote-result {
	background: url("../img/vote-result-bg.png") repeat-x;
}

.XXI-paper {
	float: left;
	width: 235px;
	padding: 15px 7px;
	background: #fff;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.XXI-paper img {
	margin: 0 0 10px 30px;
}

.XXI-paper a {
	float: left;
	width: 220px;
	font-size: 0.75em;
	color: #1373aa;
	text-align: center;
}

.XXI-paper a:hover {text-decoration: underline;}



/* FOOTER */
.footer {
    width: 100%;
    background: #fff;
    margin-top: 30px;

}

.footer-content {
    width: 960px;
    height: 54px;
    padding-top: 12px;
    margin: 0 auto;
}

.footer-content span {	
	color: #101010;
	font-size: 0.75em;
}

.footer-content p {
	line-height: 20px;
	font-size: 0.7em;
	color: #646464;
}